CmsX/Web References/ContentXFilesWS/ContentXFiles.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.clickclickBOOM.com/MachinaX/DisplayX" xmlns:s1="http://www.clickclickBOOM.com/MachinaX/DisplayX/AbstractTypes" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.clickclickBOOM.com/MachinaX/DisplayX" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">ContentXFiles Web Service</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.clickclickBOOM.com/MachinaX/DisplayX">
      <s:element name="List">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StartPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Filter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SortBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SortAscending" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListDrop">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StartPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Filter" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListDropResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListDropResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListPaths">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StartPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SortBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SortAscending" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListPathsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListPathsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListExtensions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StartPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SortBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SortAscending" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListExtensionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListExtensionsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StartPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StartPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FilePath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFileResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StartPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileExtn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FilePath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileData" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Edit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StartPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileExtn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FilePath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileData" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EditResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StartPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Test">
        <s:complexType />
      </s:element>
      <s:element name="TestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestName">
        <s:complexType />
      </s:element>
      <s:element name="TestNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestCustom">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Format" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RootName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ResultName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodeName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DescriptionName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestCustomResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestCustomResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestError">
        <s:complexType />
      </s:element>
      <s:element name="TestErrorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestErrorResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestException">
        <s:complexType />
      </s:element>
      <s:element name="TestExceptionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestExceptionResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
    <s:schema targetNamespace="http://www.clickclickBOOM.com/MachinaX/DisplayX/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListSoapIn">
    <wsdl:part name="parameters" element="tns:List" />
  </wsdl:message>
  <wsdl:message name="ListSoapOut">
    <wsdl:part name="parameters" element="tns:ListResponse" />
  </wsdl:message>
  <wsdl:message name="ListDropSoapIn">
    <wsdl:part name="parameters" element="tns:ListDrop" />
  </wsdl:message>
  <wsdl:message name="ListDropSoapOut">
    <wsdl:part name="parameters" element="tns:ListDropResponse" />
  </wsdl:message>
  <wsdl:message name="ListPathsSoapIn">
    <wsdl:part name="parameters" element="tns:ListPaths" />
  </wsdl:message>
  <wsdl:message name="ListPathsSoapOut">
    <wsdl:part name="parameters" element="tns:ListPathsResponse" />
  </wsdl:message>
  <wsdl:message name="ListExtensionsSoapIn">
    <wsdl:part name="parameters" element="tns:ListExtensions" />
  </wsdl:message>
  <wsdl:message name="ListExtensionsSoapOut">
    <wsdl:part name="parameters" element="tns:ListExtensionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetSoapIn">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="GetSoapOut">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="GetFileSoapIn">
    <wsdl:part name="parameters" element="tns:GetFile" />
  </wsdl:message>
  <wsdl:message name="GetFileSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileResponse" />
  </wsdl:message>
  <wsdl:message name="AddSoapIn">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="AddSoapOut">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="EditSoapIn">
    <wsdl:part name="parameters" element="tns:Edit" />
  </wsdl:message>
  <wsdl:message name="EditSoapOut">
    <wsdl:part name="parameters" element="tns:EditResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="TestSoapIn">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="TestSoapOut">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="TestNameSoapIn">
    <wsdl:part name="parameters" element="tns:TestName" />
  </wsdl:message>
  <wsdl:message name="TestNameSoapOut">
    <wsdl:part name="parameters" element="tns:TestNameResponse" />
  </wsdl:message>
  <wsdl:message name="TestCustomSoapIn">
    <wsdl:part name="parameters" element="tns:TestCustom" />
  </wsdl:message>
  <wsdl:message name="TestCustomSoapOut">
    <wsdl:part name="parameters" element="tns:TestCustomResponse" />
  </wsdl:message>
  <wsdl:message name="TestErrorSoapIn">
    <wsdl:part name="parameters" element="tns:TestError" />
  </wsdl:message>
  <wsdl:message name="TestErrorSoapOut">
    <wsdl:part name="parameters" element="tns:TestErrorResponse" />
  </wsdl:message>
  <wsdl:message name="TestExceptionSoapIn">
    <wsdl:part name="parameters" element="tns:TestException" />
  </wsdl:message>
  <wsdl:message name="TestExceptionSoapOut">
    <wsdl:part name="parameters" element="tns:TestExceptionResponse" />
  </wsdl:message>
  <wsdl:message name="ListHttpGetIn">
    <wsdl:part name="StartPath" type="s:string" />
    <wsdl:part name="Filter" type="s:string" />
    <wsdl:part name="SortBy" type="s:string" />
    <wsdl:part name="SortAscending" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="ListDropHttpGetIn">
    <wsdl:part name="StartPath" type="s:string" />
    <wsdl:part name="Filter" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListDropHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="ListPathsHttpGetIn">
    <wsdl:part name="StartPath" type="s:string" />
    <wsdl:part name="SortBy" type="s:string" />
    <wsdl:part name="SortAscending" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListPathsHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="ListExtensionsHttpGetIn">
    <wsdl:part name="StartPath" type="s:string" />
    <wsdl:part name="SortBy" type="s:string" />
    <wsdl:part name="SortAscending" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListExtensionsHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetHttpGetIn">
    <wsdl:part name="StartPath" type="s:string" />
    <wsdl:part name="FileID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetFileHttpGetIn">
    <wsdl:part name="StartPath" type="s:string" />
    <wsdl:part name="FilePath" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFileHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="AddHttpGetIn">
    <wsdl:part name="StartPath" type="s:string" />
    <wsdl:part name="FileName" type="s:string" />
    <wsdl:part name="FileExtn" type="s:string" />
    <wsdl:part name="FilePath" type="s:string" />
    <wsdl:part name="FileData" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="AddHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="EditHttpGetIn">
    <wsdl:part name="StartPath" type="s:string" />
    <wsdl:part name="FileID" type="s:string" />
    <wsdl:part name="FileName" type="s:string" />
    <wsdl:part name="FileExtn" type="s:string" />
    <wsdl:part name="FilePath" type="s:string" />
    <wsdl:part name="FileData" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="EditHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpGetIn">
    <wsdl:part name="StartPath" type="s:string" />
    <wsdl:part name="FileID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="TestHttpGetIn" />
  <wsdl:message name="TestHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="TestNameHttpGetIn" />
  <wsdl:message name="TestNameHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TestCustomHttpGetIn">
    <wsdl:part name="Format" type="s:string" />
    <wsdl:part name="RootName" type="s:string" />
    <wsdl:part name="ResultName" type="s:string" />
    <wsdl:part name="CodeName" type="s:string" />
    <wsdl:part name="DescriptionName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TestCustomHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="TestErrorHttpGetIn" />
  <wsdl:message name="TestErrorHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="TestExceptionHttpGetIn" />
  <wsdl:message name="TestExceptionHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="ListHttpPostIn">
    <wsdl:part name="StartPath" type="s:string" />
    <wsdl:part name="Filter" type="s:string" />
    <wsdl:part name="SortBy" type="s:string" />
    <wsdl:part name="SortAscending" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="ListDropHttpPostIn">
    <wsdl:part name="StartPath" type="s:string" />
    <wsdl:part name="Filter" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListDropHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="ListPathsHttpPostIn">
    <wsdl:part name="StartPath" type="s:string" />
    <wsdl:part name="SortBy" type="s:string" />
    <wsdl:part name="SortAscending" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListPathsHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="ListExtensionsHttpPostIn">
    <wsdl:part name="StartPath" type="s:string" />
    <wsdl:part name="SortBy" type="s:string" />
    <wsdl:part name="SortAscending" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListExtensionsHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetHttpPostIn">
    <wsdl:part name="StartPath" type="s:string" />
    <wsdl:part name="FileID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetFileHttpPostIn">
    <wsdl:part name="StartPath" type="s:string" />
    <wsdl:part name="FilePath" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFileHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="AddHttpPostIn">
    <wsdl:part name="StartPath" type="s:string" />
    <wsdl:part name="FileName" type="s:string" />
    <wsdl:part name="FileExtn" type="s:string" />
    <wsdl:part name="FilePath" type="s:string" />
    <wsdl:part name="FileData" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="AddHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="EditHttpPostIn">
    <wsdl:part name="StartPath" type="s:string" />
    <wsdl:part name="FileID" type="s:string" />
    <wsdl:part name="FileName" type="s:string" />
    <wsdl:part name="FileExtn" type="s:string" />
    <wsdl:part name="FilePath" type="s:string" />
    <wsdl:part name="FileData" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="EditHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpPostIn">
    <wsdl:part name="StartPath" type="s:string" />
    <wsdl:part name="FileID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="TestHttpPostIn" />
  <wsdl:message name="TestHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="TestNameHttpPostIn" />
  <wsdl:message name="TestNameHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TestCustomHttpPostIn">
    <wsdl:part name="Format" type="s:string" />
    <wsdl:part name="RootName" type="s:string" />
    <wsdl:part name="ResultName" type="s:string" />
    <wsdl:part name="CodeName" type="s:string" />
    <wsdl:part name="DescriptionName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TestCustomHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="TestErrorHttpPostIn" />
  <wsdl:message name="TestErrorHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="TestExceptionHttpPostIn" />
  <wsdl:message name="TestExceptionHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:portType name="ContentXFilesSoap">
    <wsdl:operation name="List">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">List Files</wsdl:documentation>
      <wsdl:input message="tns:ListSoapIn" />
      <wsdl:output message="tns:ListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListDrop">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">List Files</wsdl:documentation>
      <wsdl:input message="tns:ListDropSoapIn" />
      <wsdl:output message="tns:ListDropSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListPaths">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">List File Paths</wsdl:documentation>
      <wsdl:input message="tns:ListPathsSoapIn" />
      <wsdl:output message="tns:ListPathsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListExtensions">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">List File Extensions</wsdl:documentation>
      <wsdl:input message="tns:ListExtensionsSoapIn" />
      <wsdl:output message="tns:ListExtensionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get File</wsdl:documentation>
      <wsdl:input message="tns:GetSoapIn" />
      <wsdl:output message="tns:GetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a File (from path)</wsdl:documentation>
      <wsdl:input message="tns:GetFileSoapIn" />
      <wsdl:output message="tns:GetFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add a File</wsdl:documentation>
      <wsdl:input message="tns:AddSoapIn" />
      <wsdl:output message="tns:AddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Edit a File</wsdl:documentation>
      <wsdl:input message="tns:EditSoapIn" />
      <wsdl:output message="tns:EditSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete a File</wsdl:documentation>
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Basic test of the web service</wsdl:documentation>
      <wsdl:input message="tns:TestSoapIn" />
      <wsdl:output message="tns:TestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Tests the web service by returning the Result name</wsdl:documentation>
      <wsdl:input message="tns:TestNameSoapIn" />
      <wsdl:output message="tns:TestNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestCustom">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Tests the custom result formatting</wsdl:documentation>
      <wsdl:input message="tns:TestCustomSoapIn" />
      <wsdl:output message="tns:TestCustomSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestError">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Basic test of an error condition</wsdl:documentation>
      <wsdl:input message="tns:TestErrorSoapIn" />
      <wsdl:output message="tns:TestErrorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestException">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Basic test of an error exception</wsdl:documentation>
      <wsdl:input message="tns:TestExceptionSoapIn" />
      <wsdl:output message="tns:TestExceptionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ContentXFilesHttpGet">
    <wsdl:operation name="List">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">List Files</wsdl:documentation>
      <wsdl:input message="tns:ListHttpGetIn" />
      <wsdl:output message="tns:ListHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ListDrop">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">List Files</wsdl:documentation>
      <wsdl:input message="tns:ListDropHttpGetIn" />
      <wsdl:output message="tns:ListDropHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ListPaths">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">List File Paths</wsdl:documentation>
      <wsdl:input message="tns:ListPathsHttpGetIn" />
      <wsdl:output message="tns:ListPathsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ListExtensions">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">List File Extensions</wsdl:documentation>
      <wsdl:input message="tns:ListExtensionsHttpGetIn" />
      <wsdl:output message="tns:ListExtensionsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get File</wsdl:documentation>
      <wsdl:input message="tns:GetHttpGetIn" />
      <wsdl:output message="tns:GetHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a File (from path)</wsdl:documentation>
      <wsdl:input message="tns:GetFileHttpGetIn" />
      <wsdl:output message="tns:GetFileHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add a File</wsdl:documentation>
      <wsdl:input message="tns:AddHttpGetIn" />
      <wsdl:output message="tns:AddHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Edit a File</wsdl:documentation>
      <wsdl:input message="tns:EditHttpGetIn" />
      <wsdl:output message="tns:EditHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete a File</wsdl:documentation>
      <wsdl:input message="tns:DeleteHttpGetIn" />
      <wsdl:output message="tns:DeleteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Basic test of the web service</wsdl:documentation>
      <wsdl:input message="tns:TestHttpGetIn" />
      <wsdl:output message="tns:TestHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TestName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Tests the web service by returning the Result name</wsdl:documentation>
      <wsdl:input message="tns:TestNameHttpGetIn" />
      <wsdl:output message="tns:TestNameHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TestCustom">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Tests the custom result formatting</wsdl:documentation>
      <wsdl:input message="tns:TestCustomHttpGetIn" />
      <wsdl:output message="tns:TestCustomHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TestError">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Basic test of an error condition</wsdl:documentation>
      <wsdl:input message="tns:TestErrorHttpGetIn" />
      <wsdl:output message="tns:TestErrorHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TestException">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Basic test of an error exception</wsdl:documentation>
      <wsdl:input message="tns:TestExceptionHttpGetIn" />
      <wsdl:output message="tns:TestExceptionHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ContentXFilesHttpPost">
    <wsdl:operation name="List">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">List Files</wsdl:documentation>
      <wsdl:input message="tns:ListHttpPostIn" />
      <wsdl:output message="tns:ListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ListDrop">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">List Files</wsdl:documentation>
      <wsdl:input message="tns:ListDropHttpPostIn" />
      <wsdl:output message="tns:ListDropHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ListPaths">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">List File Paths</wsdl:documentation>
      <wsdl:input message="tns:ListPathsHttpPostIn" />
      <wsdl:output message="tns:ListPathsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ListExtensions">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">List File Extensions</wsdl:documentation>
      <wsdl:input message="tns:ListExtensionsHttpPostIn" />
      <wsdl:output message="tns:ListExtensionsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get File</wsdl:documentation>
      <wsdl:input message="tns:GetHttpPostIn" />
      <wsdl:output message="tns:GetHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a File (from path)</wsdl:documentation>
      <wsdl:input message="tns:GetFileHttpPostIn" />
      <wsdl:output message="tns:GetFileHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add a File</wsdl:documentation>
      <wsdl:input message="tns:AddHttpPostIn" />
      <wsdl:output message="tns:AddHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Edit a File</wsdl:documentation>
      <wsdl:input message="tns:EditHttpPostIn" />
      <wsdl:output message="tns:EditHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete a File</wsdl:documentation>
      <wsdl:input message="tns:DeleteHttpPostIn" />
      <wsdl:output message="tns:DeleteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Basic test of the web service</wsdl:documentation>
      <wsdl:input message="tns:TestHttpPostIn" />
      <wsdl:output message="tns:TestHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TestName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Tests the web service by returning the Result name</wsdl:documentation>
      <wsdl:input message="tns:TestNameHttpPostIn" />
      <wsdl:output message="tns:TestNameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TestCustom">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Tests the custom result formatting</wsdl:documentation>
      <wsdl:input message="tns:TestCustomHttpPostIn" />
      <wsdl:output message="tns:TestCustomHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TestError">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Basic test of an error condition</wsdl:documentation>
      <wsdl:input message="tns:TestErrorHttpPostIn" />
      <wsdl:output message="tns:TestErrorHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TestException">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Basic test of an error exception</wsdl:documentation>
      <wsdl:input message="tns:TestExceptionHttpPostIn" />
      <wsdl:output message="tns:TestExceptionHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ContentXFilesSoap" type="tns:ContentXFilesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="List">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/List" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListDrop">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/ListDrop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListPaths">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/ListPaths" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListExtensions">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/ListExtensions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/GetFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/Edit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestName">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/TestName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestCustom">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/TestCustom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestError">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/TestError" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestException">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/TestException" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ContentXFilesSoap12" type="tns:ContentXFilesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="List">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/List" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListDrop">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/ListDrop" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListPaths">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/ListPaths" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListExtensions">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/ListExtensions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/Get" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/GetFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/Edit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestName">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/TestName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestCustom">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/TestCustom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestError">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/TestError" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestException">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/TestException" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ContentXFilesHttpGet" type="tns:ContentXFilesHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="List">
      <http:operation location="/List" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListDrop">
      <http:operation location="/ListDrop" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListPaths">
      <http:operation location="/ListPaths" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListExtensions">
      <http:operation location="/ListExtensions" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <http:operation location="/Get" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <http:operation location="/GetFile" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <http:operation location="/Add" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <http:operation location="/Edit" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <http:operation location="/Delete" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <http:operation location="/Test" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestName">
      <http:operation location="/TestName" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestCustom">
      <http:operation location="/TestCustom" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestError">
      <http:operation location="/TestError" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestException">
      <http:operation location="/TestException" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ContentXFilesHttpPost" type="tns:ContentXFilesHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="List">
      <http:operation location="/List" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListDrop">
      <http:operation location="/ListDrop" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListPaths">
      <http:operation location="/ListPaths" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListExtensions">
      <http:operation location="/ListExtensions" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <http:operation location="/Get" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <http:operation location="/GetFile" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <http:operation location="/Add" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <http:operation location="/Edit" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <http:operation location="/Delete" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <http:operation location="/Test" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestName">
      <http:operation location="/TestName" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestCustom">
      <http:operation location="/TestCustom" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestError">
      <http:operation location="/TestError" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestException">
      <http:operation location="/TestException" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContentXFiles">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">ContentXFiles Web Service</wsdl:documentation>
    <wsdl:port name="ContentXFilesSoap" binding="tns:ContentXFilesSoap">
      <soap:address location="http://maxima.xxboom.co.za/ContentXFiles.asmx" />
    </wsdl:port>
    <wsdl:port name="ContentXFilesSoap12" binding="tns:ContentXFilesSoap12">
      <soap12:address location="http://maxima.xxboom.co.za/ContentXFiles.asmx" />
    </wsdl:port>
    <wsdl:port name="ContentXFilesHttpGet" binding="tns:ContentXFilesHttpGet">
      <http:address location="http://maxima.xxboom.co.za/ContentXFiles.asmx" />
    </wsdl:port>
    <wsdl:port name="ContentXFilesHttpPost" binding="tns:ContentXFilesHttpPost">
      <http:address location="http://maxima.xxboom.co.za/ContentXFiles.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>