CmsX/Web References/UserWS/User.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.clickclickBOOM.com/MachinaX/ServiceX" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.clickclickBOOM.com/MachinaX/ServiceX" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">ServicesX User Web Service</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.clickclickBOOM.com/MachinaX/ServiceX">
      <s:element name="ListUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Is_CSV" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="StatusID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="StartPage" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SortCol" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SortDesc" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="Rows" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListUsersResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserNameResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Firstname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Surname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Telephone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Cellphone" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddUserResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RemoveUserResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Firstname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Surname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Telephone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Cellphone" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="StatusID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateUserResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Test">
        <s:complexType />
      </s:element>
      <s:element name="TestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestName">
        <s:complexType />
      </s:element>
      <s:element name="TestNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestCustom">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Format" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RootName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ResultName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodeName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DescriptionName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestCustomResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestCustomResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestError">
        <s:complexType />
      </s:element>
      <s:element name="TestErrorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestErrorResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestException">
        <s:complexType />
      </s:element>
      <s:element name="TestExceptionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestExceptionResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListUsersSoapIn">
    <wsdl:part name="parameters" element="tns:ListUsers" />
  </wsdl:message>
  <wsdl:message name="ListUsersSoapOut">
    <wsdl:part name="parameters" element="tns:ListUsersResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="GetUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserName" />
  </wsdl:message>
  <wsdl:message name="GetUserNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="AddUserSoapIn">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="AddUserSoapOut">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveUserSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveUser" />
  </wsdl:message>
  <wsdl:message name="RemoveUserSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveUserResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="UpdateUserSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="TestSoapIn">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="TestSoapOut">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="TestNameSoapIn">
    <wsdl:part name="parameters" element="tns:TestName" />
  </wsdl:message>
  <wsdl:message name="TestNameSoapOut">
    <wsdl:part name="parameters" element="tns:TestNameResponse" />
  </wsdl:message>
  <wsdl:message name="TestCustomSoapIn">
    <wsdl:part name="parameters" element="tns:TestCustom" />
  </wsdl:message>
  <wsdl:message name="TestCustomSoapOut">
    <wsdl:part name="parameters" element="tns:TestCustomResponse" />
  </wsdl:message>
  <wsdl:message name="TestErrorSoapIn">
    <wsdl:part name="parameters" element="tns:TestError" />
  </wsdl:message>
  <wsdl:message name="TestErrorSoapOut">
    <wsdl:part name="parameters" element="tns:TestErrorResponse" />
  </wsdl:message>
  <wsdl:message name="TestExceptionSoapIn">
    <wsdl:part name="parameters" element="tns:TestException" />
  </wsdl:message>
  <wsdl:message name="TestExceptionSoapOut">
    <wsdl:part name="parameters" element="tns:TestExceptionResponse" />
  </wsdl:message>
  <wsdl:message name="ListUsersHttpGetIn">
    <wsdl:part name="Is_CSV" type="s:string" />
    <wsdl:part name="StatusID" type="s:string" />
    <wsdl:part name="StartPage" type="s:string" />
    <wsdl:part name="SortCol" type="s:string" />
    <wsdl:part name="SortDesc" type="s:string" />
    <wsdl:part name="Rows" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListUsersHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetUserHttpGetIn">
    <wsdl:part name="UserID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetUserNameHttpGetIn">
    <wsdl:part name="Username" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserNameHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="AddUserHttpGetIn">
    <wsdl:part name="Username" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="Firstname" type="s:string" />
    <wsdl:part name="Surname" type="s:string" />
    <wsdl:part name="Email" type="s:string" />
    <wsdl:part name="Telephone" type="s:string" />
    <wsdl:part name="Cellphone" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddUserHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="RemoveUserHttpGetIn">
    <wsdl:part name="UserID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RemoveUserHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="UpdateUserHttpGetIn">
    <wsdl:part name="UserID" type="s:string" />
    <wsdl:part name="Username" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="Firstname" type="s:string" />
    <wsdl:part name="Surname" type="s:string" />
    <wsdl:part name="Email" type="s:string" />
    <wsdl:part name="Telephone" type="s:string" />
    <wsdl:part name="Cellphone" type="s:string" />
    <wsdl:part name="StatusID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateUserHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="TestHttpGetIn" />
  <wsdl:message name="TestHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="TestNameHttpGetIn" />
  <wsdl:message name="TestNameHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TestCustomHttpGetIn">
    <wsdl:part name="Format" type="s:string" />
    <wsdl:part name="RootName" type="s:string" />
    <wsdl:part name="ResultName" type="s:string" />
    <wsdl:part name="CodeName" type="s:string" />
    <wsdl:part name="DescriptionName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TestCustomHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="TestErrorHttpGetIn" />
  <wsdl:message name="TestErrorHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="TestExceptionHttpGetIn" />
  <wsdl:message name="TestExceptionHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="ListUsersHttpPostIn">
    <wsdl:part name="Is_CSV" type="s:string" />
    <wsdl:part name="StatusID" type="s:string" />
    <wsdl:part name="StartPage" type="s:string" />
    <wsdl:part name="SortCol" type="s:string" />
    <wsdl:part name="SortDesc" type="s:string" />
    <wsdl:part name="Rows" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListUsersHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetUserHttpPostIn">
    <wsdl:part name="UserID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetUserNameHttpPostIn">
    <wsdl:part name="Username" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserNameHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="AddUserHttpPostIn">
    <wsdl:part name="Username" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="Firstname" type="s:string" />
    <wsdl:part name="Surname" type="s:string" />
    <wsdl:part name="Email" type="s:string" />
    <wsdl:part name="Telephone" type="s:string" />
    <wsdl:part name="Cellphone" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddUserHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="RemoveUserHttpPostIn">
    <wsdl:part name="UserID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RemoveUserHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="UpdateUserHttpPostIn">
    <wsdl:part name="UserID" type="s:string" />
    <wsdl:part name="Username" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="Firstname" type="s:string" />
    <wsdl:part name="Surname" type="s:string" />
    <wsdl:part name="Email" type="s:string" />
    <wsdl:part name="Telephone" type="s:string" />
    <wsdl:part name="Cellphone" type="s:string" />
    <wsdl:part name="StatusID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateUserHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="TestHttpPostIn" />
  <wsdl:message name="TestHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="TestNameHttpPostIn" />
  <wsdl:message name="TestNameHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TestCustomHttpPostIn">
    <wsdl:part name="Format" type="s:string" />
    <wsdl:part name="RootName" type="s:string" />
    <wsdl:part name="ResultName" type="s:string" />
    <wsdl:part name="CodeName" type="s:string" />
    <wsdl:part name="DescriptionName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TestCustomHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="TestErrorHttpPostIn" />
  <wsdl:message name="TestErrorHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="TestExceptionHttpPostIn" />
  <wsdl:message name="TestExceptionHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:portType name="UserServiceXSoap">
    <wsdl:operation name="ListUsers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a list of users</wsdl:documentation>
      <wsdl:input message="tns:ListUsersSoapIn" />
      <wsdl:output message="tns:ListUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">get user</wsdl:documentation>
      <wsdl:input message="tns:GetUserSoapIn" />
      <wsdl:output message="tns:GetUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">get user by username</wsdl:documentation>
      <wsdl:input message="tns:GetUserNameSoapIn" />
      <wsdl:output message="tns:GetUserNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">add new user</wsdl:documentation>
      <wsdl:input message="tns:AddUserSoapIn" />
      <wsdl:output message="tns:AddUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">get user</wsdl:documentation>
      <wsdl:input message="tns:RemoveUserSoapIn" />
      <wsdl:output message="tns:RemoveUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">edit user</wsdl:documentation>
      <wsdl:input message="tns:UpdateUserSoapIn" />
      <wsdl:output message="tns:UpdateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Basic test of the web service</wsdl:documentation>
      <wsdl:input message="tns:TestSoapIn" />
      <wsdl:output message="tns:TestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Tests the web service by returning the Result name</wsdl:documentation>
      <wsdl:input message="tns:TestNameSoapIn" />
      <wsdl:output message="tns:TestNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestCustom">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Tests the custom result formatting</wsdl:documentation>
      <wsdl:input message="tns:TestCustomSoapIn" />
      <wsdl:output message="tns:TestCustomSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestError">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Basic test of an error condition</wsdl:documentation>
      <wsdl:input message="tns:TestErrorSoapIn" />
      <wsdl:output message="tns:TestErrorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestException">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Basic test of an error exception</wsdl:documentation>
      <wsdl:input message="tns:TestExceptionSoapIn" />
      <wsdl:output message="tns:TestExceptionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="UserServiceXHttpGet">
    <wsdl:operation name="ListUsers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a list of users</wsdl:documentation>
      <wsdl:input message="tns:ListUsersHttpGetIn" />
      <wsdl:output message="tns:ListUsersHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">get user</wsdl:documentation>
      <wsdl:input message="tns:GetUserHttpGetIn" />
      <wsdl:output message="tns:GetUserHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">get user by username</wsdl:documentation>
      <wsdl:input message="tns:GetUserNameHttpGetIn" />
      <wsdl:output message="tns:GetUserNameHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">add new user</wsdl:documentation>
      <wsdl:input message="tns:AddUserHttpGetIn" />
      <wsdl:output message="tns:AddUserHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">get user</wsdl:documentation>
      <wsdl:input message="tns:RemoveUserHttpGetIn" />
      <wsdl:output message="tns:RemoveUserHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">edit user</wsdl:documentation>
      <wsdl:input message="tns:UpdateUserHttpGetIn" />
      <wsdl:output message="tns:UpdateUserHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Basic test of the web service</wsdl:documentation>
      <wsdl:input message="tns:TestHttpGetIn" />
      <wsdl:output message="tns:TestHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TestName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Tests the web service by returning the Result name</wsdl:documentation>
      <wsdl:input message="tns:TestNameHttpGetIn" />
      <wsdl:output message="tns:TestNameHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TestCustom">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Tests the custom result formatting</wsdl:documentation>
      <wsdl:input message="tns:TestCustomHttpGetIn" />
      <wsdl:output message="tns:TestCustomHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TestError">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Basic test of an error condition</wsdl:documentation>
      <wsdl:input message="tns:TestErrorHttpGetIn" />
      <wsdl:output message="tns:TestErrorHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TestException">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Basic test of an error exception</wsdl:documentation>
      <wsdl:input message="tns:TestExceptionHttpGetIn" />
      <wsdl:output message="tns:TestExceptionHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="UserServiceXHttpPost">
    <wsdl:operation name="ListUsers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a list of users</wsdl:documentation>
      <wsdl:input message="tns:ListUsersHttpPostIn" />
      <wsdl:output message="tns:ListUsersHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">get user</wsdl:documentation>
      <wsdl:input message="tns:GetUserHttpPostIn" />
      <wsdl:output message="tns:GetUserHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">get user by username</wsdl:documentation>
      <wsdl:input message="tns:GetUserNameHttpPostIn" />
      <wsdl:output message="tns:GetUserNameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">add new user</wsdl:documentation>
      <wsdl:input message="tns:AddUserHttpPostIn" />
      <wsdl:output message="tns:AddUserHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">get user</wsdl:documentation>
      <wsdl:input message="tns:RemoveUserHttpPostIn" />
      <wsdl:output message="tns:RemoveUserHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">edit user</wsdl:documentation>
      <wsdl:input message="tns:UpdateUserHttpPostIn" />
      <wsdl:output message="tns:UpdateUserHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Basic test of the web service</wsdl:documentation>
      <wsdl:input message="tns:TestHttpPostIn" />
      <wsdl:output message="tns:TestHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TestName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Tests the web service by returning the Result name</wsdl:documentation>
      <wsdl:input message="tns:TestNameHttpPostIn" />
      <wsdl:output message="tns:TestNameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TestCustom">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Tests the custom result formatting</wsdl:documentation>
      <wsdl:input message="tns:TestCustomHttpPostIn" />
      <wsdl:output message="tns:TestCustomHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TestError">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Basic test of an error condition</wsdl:documentation>
      <wsdl:input message="tns:TestErrorHttpPostIn" />
      <wsdl:output message="tns:TestErrorHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TestException">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Basic test of an error exception</wsdl:documentation>
      <wsdl:input message="tns:TestExceptionHttpPostIn" />
      <wsdl:output message="tns:TestExceptionHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserServiceXSoap" type="tns:UserServiceXSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListUsers">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/ServiceX/ListUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/ServiceX/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/ServiceX/GetUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/ServiceX/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/ServiceX/RemoveUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/ServiceX/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/ServiceX/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestName">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/ServiceX/TestName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestCustom">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/ServiceX/TestCustom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestError">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/ServiceX/TestError" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestException">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/ServiceX/TestException" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserServiceXSoap12" type="tns:UserServiceXSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListUsers">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/ServiceX/ListUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/ServiceX/GetUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/ServiceX/GetUserName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/ServiceX/AddUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/ServiceX/RemoveUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/ServiceX/UpdateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/ServiceX/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestName">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/ServiceX/TestName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestCustom">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/ServiceX/TestCustom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestError">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/ServiceX/TestError" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestException">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/ServiceX/TestException" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserServiceXHttpGet" type="tns:UserServiceXHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ListUsers">
      <http:operation location="/ListUsers" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <http:operation location="/GetUser" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <http:operation location="/GetUserName" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <http:operation location="/AddUser" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <http:operation location="/RemoveUser" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <http:operation location="/UpdateUser" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <http:operation location="/Test" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestName">
      <http:operation location="/TestName" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestCustom">
      <http:operation location="/TestCustom" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestError">
      <http:operation location="/TestError" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestException">
      <http:operation location="/TestException" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserServiceXHttpPost" type="tns:UserServiceXHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ListUsers">
      <http:operation location="/ListUsers" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <http:operation location="/GetUser" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <http:operation location="/GetUserName" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <http:operation location="/AddUser" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <http:operation location="/RemoveUser" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <http:operation location="/UpdateUser" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <http:operation location="/Test" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestName">
      <http:operation location="/TestName" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestCustom">
      <http:operation location="/TestCustom" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestError">
      <http:operation location="/TestError" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestException">
      <http:operation location="/TestException" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserServiceX">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">ServicesX User Web Service</wsdl:documentation>
    <wsdl:port name="UserServiceXSoap" binding="tns:UserServiceXSoap">
      <soap:address location="http://services.ididthatad.com/User.asmx" />
    </wsdl:port>
    <wsdl:port name="UserServiceXSoap12" binding="tns:UserServiceXSoap12">
      <soap12:address location="http://services.ididthatad.com/User.asmx" />
    </wsdl:port>
    <wsdl:port name="UserServiceXHttpGet" binding="tns:UserServiceXHttpGet">
      <http:address location="http://services.ididthatad.com/User.asmx" />
    </wsdl:port>
    <wsdl:port name="UserServiceXHttpPost" binding="tns:UserServiceXHttpPost">
      <http:address location="http://services.ididthatad.com/User.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>