CmsX/Web References/ContentXMediaWS/ContentXMedia.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.clickclickBOOM.com/MachinaX/DisplayX" xmlns:s1="http://www.clickclickBOOM.com/MachinaX/DisplayX/AbstractTypes" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.clickclickBOOM.com/MachinaX/DisplayX" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">ContentXMedia Web Service</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.clickclickBOOM.com/MachinaX/DisplayX">
      <s:element name="GetMediaStore">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="blogxID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMediaStoreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMediaStoreResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListAll">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="blogxID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Filter" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListAllResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="List">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="blogxID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Filter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SortBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SortAscending" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="blogxID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMedia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="blogxID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMediaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMediaResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="blogxID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subtype" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Edit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="blogxID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subtype" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EditResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="File">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="blogxID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="file" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FileResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="blogxID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Filename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="File" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NewFileResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="blogxID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Test">
        <s:complexType />
      </s:element>
      <s:element name="TestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestName">
        <s:complexType />
      </s:element>
      <s:element name="TestNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestCustom">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Format" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RootName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ResultName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodeName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DescriptionName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestCustomResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestCustomResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestError">
        <s:complexType />
      </s:element>
      <s:element name="TestErrorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestErrorResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestException">
        <s:complexType />
      </s:element>
      <s:element name="TestExceptionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestExceptionResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
    <s:schema targetNamespace="http://www.clickclickBOOM.com/MachinaX/DisplayX/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetMediaStoreSoapIn">
    <wsdl:part name="parameters" element="tns:GetMediaStore" />
  </wsdl:message>
  <wsdl:message name="GetMediaStoreSoapOut">
    <wsdl:part name="parameters" element="tns:GetMediaStoreResponse" />
  </wsdl:message>
  <wsdl:message name="ListAllSoapIn">
    <wsdl:part name="parameters" element="tns:ListAll" />
  </wsdl:message>
  <wsdl:message name="ListAllSoapOut">
    <wsdl:part name="parameters" element="tns:ListAllResponse" />
  </wsdl:message>
  <wsdl:message name="ListSoapIn">
    <wsdl:part name="parameters" element="tns:List" />
  </wsdl:message>
  <wsdl:message name="ListSoapOut">
    <wsdl:part name="parameters" element="tns:ListResponse" />
  </wsdl:message>
  <wsdl:message name="GetSoapIn">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="GetSoapOut">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="GetMediaSoapIn">
    <wsdl:part name="parameters" element="tns:GetMedia" />
  </wsdl:message>
  <wsdl:message name="GetMediaSoapOut">
    <wsdl:part name="parameters" element="tns:GetMediaResponse" />
  </wsdl:message>
  <wsdl:message name="AddSoapIn">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="AddSoapOut">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="EditSoapIn">
    <wsdl:part name="parameters" element="tns:Edit" />
  </wsdl:message>
  <wsdl:message name="EditSoapOut">
    <wsdl:part name="parameters" element="tns:EditResponse" />
  </wsdl:message>
  <wsdl:message name="FileSoapIn">
    <wsdl:part name="parameters" element="tns:File" />
  </wsdl:message>
  <wsdl:message name="FileSoapOut">
    <wsdl:part name="parameters" element="tns:FileResponse" />
  </wsdl:message>
  <wsdl:message name="NewFileSoapIn">
    <wsdl:part name="parameters" element="tns:NewFile" />
  </wsdl:message>
  <wsdl:message name="NewFileSoapOut">
    <wsdl:part name="parameters" element="tns:NewFileResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="TestSoapIn">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="TestSoapOut">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="TestNameSoapIn">
    <wsdl:part name="parameters" element="tns:TestName" />
  </wsdl:message>
  <wsdl:message name="TestNameSoapOut">
    <wsdl:part name="parameters" element="tns:TestNameResponse" />
  </wsdl:message>
  <wsdl:message name="TestCustomSoapIn">
    <wsdl:part name="parameters" element="tns:TestCustom" />
  </wsdl:message>
  <wsdl:message name="TestCustomSoapOut">
    <wsdl:part name="parameters" element="tns:TestCustomResponse" />
  </wsdl:message>
  <wsdl:message name="TestErrorSoapIn">
    <wsdl:part name="parameters" element="tns:TestError" />
  </wsdl:message>
  <wsdl:message name="TestErrorSoapOut">
    <wsdl:part name="parameters" element="tns:TestErrorResponse" />
  </wsdl:message>
  <wsdl:message name="TestExceptionSoapIn">
    <wsdl:part name="parameters" element="tns:TestException" />
  </wsdl:message>
  <wsdl:message name="TestExceptionSoapOut">
    <wsdl:part name="parameters" element="tns:TestExceptionResponse" />
  </wsdl:message>
  <wsdl:message name="GetMediaStoreHttpGetIn">
    <wsdl:part name="blogxID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMediaStoreHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="ListAllHttpGetIn">
    <wsdl:part name="blogxID" type="s:string" />
    <wsdl:part name="Filter" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListAllHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="ListHttpGetIn">
    <wsdl:part name="blogxID" type="s:string" />
    <wsdl:part name="Filter" type="s:string" />
    <wsdl:part name="SortBy" type="s:string" />
    <wsdl:part name="SortAscending" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetHttpGetIn">
    <wsdl:part name="blogxID" type="s:string" />
    <wsdl:part name="name" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetMediaHttpGetIn">
    <wsdl:part name="blogxID" type="s:string" />
    <wsdl:part name="name" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMediaHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="AddHttpGetIn">
    <wsdl:part name="blogxID" type="s:string" />
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="description" type="s:string" />
    <wsdl:part name="type" type="s:string" />
    <wsdl:part name="subtype" type="s:string" />
    <wsdl:part name="url" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="EditHttpGetIn">
    <wsdl:part name="blogxID" type="s:string" />
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="description" type="s:string" />
    <wsdl:part name="type" type="s:string" />
    <wsdl:part name="subtype" type="s:string" />
    <wsdl:part name="url" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EditHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="FileHttpGetIn">
    <wsdl:part name="blogxID" type="s:string" />
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="description" type="s:string" />
    <wsdl:part name="filename" type="s:string" />
    <wsdl:part name="file" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="FileHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="NewFileHttpGetIn">
    <wsdl:part name="blogxID" type="s:string" />
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="description" type="s:string" />
    <wsdl:part name="Filename" type="s:string" />
    <wsdl:part name="File" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="NewFileHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpGetIn">
    <wsdl:part name="blogxID" type="s:string" />
    <wsdl:part name="name" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="TestHttpGetIn" />
  <wsdl:message name="TestHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="TestNameHttpGetIn" />
  <wsdl:message name="TestNameHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TestCustomHttpGetIn">
    <wsdl:part name="Format" type="s:string" />
    <wsdl:part name="RootName" type="s:string" />
    <wsdl:part name="ResultName" type="s:string" />
    <wsdl:part name="CodeName" type="s:string" />
    <wsdl:part name="DescriptionName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TestCustomHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="TestErrorHttpGetIn" />
  <wsdl:message name="TestErrorHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="TestExceptionHttpGetIn" />
  <wsdl:message name="TestExceptionHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetMediaStoreHttpPostIn">
    <wsdl:part name="blogxID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMediaStoreHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="ListAllHttpPostIn">
    <wsdl:part name="blogxID" type="s:string" />
    <wsdl:part name="Filter" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListAllHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="ListHttpPostIn">
    <wsdl:part name="blogxID" type="s:string" />
    <wsdl:part name="Filter" type="s:string" />
    <wsdl:part name="SortBy" type="s:string" />
    <wsdl:part name="SortAscending" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetHttpPostIn">
    <wsdl:part name="blogxID" type="s:string" />
    <wsdl:part name="name" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetMediaHttpPostIn">
    <wsdl:part name="blogxID" type="s:string" />
    <wsdl:part name="name" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMediaHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="AddHttpPostIn">
    <wsdl:part name="blogxID" type="s:string" />
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="description" type="s:string" />
    <wsdl:part name="type" type="s:string" />
    <wsdl:part name="subtype" type="s:string" />
    <wsdl:part name="url" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="EditHttpPostIn">
    <wsdl:part name="blogxID" type="s:string" />
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="description" type="s:string" />
    <wsdl:part name="type" type="s:string" />
    <wsdl:part name="subtype" type="s:string" />
    <wsdl:part name="url" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EditHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="FileHttpPostIn">
    <wsdl:part name="blogxID" type="s:string" />
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="description" type="s:string" />
    <wsdl:part name="filename" type="s:string" />
    <wsdl:part name="file" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="FileHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="NewFileHttpPostIn">
    <wsdl:part name="blogxID" type="s:string" />
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="description" type="s:string" />
    <wsdl:part name="Filename" type="s:string" />
    <wsdl:part name="File" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="NewFileHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpPostIn">
    <wsdl:part name="blogxID" type="s:string" />
    <wsdl:part name="name" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="TestHttpPostIn" />
  <wsdl:message name="TestHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="TestNameHttpPostIn" />
  <wsdl:message name="TestNameHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TestCustomHttpPostIn">
    <wsdl:part name="Format" type="s:string" />
    <wsdl:part name="RootName" type="s:string" />
    <wsdl:part name="ResultName" type="s:string" />
    <wsdl:part name="CodeName" type="s:string" />
    <wsdl:part name="DescriptionName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TestCustomHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="TestErrorHttpPostIn" />
  <wsdl:message name="TestErrorHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="TestExceptionHttpPostIn" />
  <wsdl:message name="TestExceptionHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:portType name="ContentXMediaSoap">
    <wsdl:operation name="GetMediaStore">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Content MediaStore</wsdl:documentation>
      <wsdl:input message="tns:GetMediaStoreSoapIn" />
      <wsdl:output message="tns:GetMediaStoreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListAll">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">List Content Media</wsdl:documentation>
      <wsdl:input message="tns:ListAllSoapIn" />
      <wsdl:output message="tns:ListAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="List">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">List Content Media</wsdl:documentation>
      <wsdl:input message="tns:ListSoapIn" />
      <wsdl:output message="tns:ListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a Media item</wsdl:documentation>
      <wsdl:input message="tns:GetSoapIn" />
      <wsdl:output message="tns:GetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMedia">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a Media item (raw format)</wsdl:documentation>
      <wsdl:input message="tns:GetMediaSoapIn" />
      <wsdl:output message="tns:GetMediaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add a Media item</wsdl:documentation>
      <wsdl:input message="tns:AddSoapIn" />
      <wsdl:output message="tns:AddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Edit a Media item</wsdl:documentation>
      <wsdl:input message="tns:EditSoapIn" />
      <wsdl:output message="tns:EditSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="File">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add a File to a Media item</wsdl:documentation>
      <wsdl:input message="tns:FileSoapIn" />
      <wsdl:output message="tns:FileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NewFile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add a new Media item File</wsdl:documentation>
      <wsdl:input message="tns:NewFileSoapIn" />
      <wsdl:output message="tns:NewFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete a Media item</wsdl:documentation>
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Basic test of the web service</wsdl:documentation>
      <wsdl:input message="tns:TestSoapIn" />
      <wsdl:output message="tns:TestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Tests the web service by returning the Result name</wsdl:documentation>
      <wsdl:input message="tns:TestNameSoapIn" />
      <wsdl:output message="tns:TestNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestCustom">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Tests the custom result formatting</wsdl:documentation>
      <wsdl:input message="tns:TestCustomSoapIn" />
      <wsdl:output message="tns:TestCustomSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestError">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Basic test of an error condition</wsdl:documentation>
      <wsdl:input message="tns:TestErrorSoapIn" />
      <wsdl:output message="tns:TestErrorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestException">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Basic test of an error exception</wsdl:documentation>
      <wsdl:input message="tns:TestExceptionSoapIn" />
      <wsdl:output message="tns:TestExceptionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ContentXMediaHttpGet">
    <wsdl:operation name="GetMediaStore">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Content MediaStore</wsdl:documentation>
      <wsdl:input message="tns:GetMediaStoreHttpGetIn" />
      <wsdl:output message="tns:GetMediaStoreHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ListAll">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">List Content Media</wsdl:documentation>
      <wsdl:input message="tns:ListAllHttpGetIn" />
      <wsdl:output message="tns:ListAllHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="List">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">List Content Media</wsdl:documentation>
      <wsdl:input message="tns:ListHttpGetIn" />
      <wsdl:output message="tns:ListHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a Media item</wsdl:documentation>
      <wsdl:input message="tns:GetHttpGetIn" />
      <wsdl:output message="tns:GetHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMedia">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a Media item (raw format)</wsdl:documentation>
      <wsdl:input message="tns:GetMediaHttpGetIn" />
      <wsdl:output message="tns:GetMediaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add a Media item</wsdl:documentation>
      <wsdl:input message="tns:AddHttpGetIn" />
      <wsdl:output message="tns:AddHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Edit a Media item</wsdl:documentation>
      <wsdl:input message="tns:EditHttpGetIn" />
      <wsdl:output message="tns:EditHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="File">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add a File to a Media item</wsdl:documentation>
      <wsdl:input message="tns:FileHttpGetIn" />
      <wsdl:output message="tns:FileHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="NewFile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add a new Media item File</wsdl:documentation>
      <wsdl:input message="tns:NewFileHttpGetIn" />
      <wsdl:output message="tns:NewFileHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete a Media item</wsdl:documentation>
      <wsdl:input message="tns:DeleteHttpGetIn" />
      <wsdl:output message="tns:DeleteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Basic test of the web service</wsdl:documentation>
      <wsdl:input message="tns:TestHttpGetIn" />
      <wsdl:output message="tns:TestHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TestName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Tests the web service by returning the Result name</wsdl:documentation>
      <wsdl:input message="tns:TestNameHttpGetIn" />
      <wsdl:output message="tns:TestNameHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TestCustom">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Tests the custom result formatting</wsdl:documentation>
      <wsdl:input message="tns:TestCustomHttpGetIn" />
      <wsdl:output message="tns:TestCustomHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TestError">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Basic test of an error condition</wsdl:documentation>
      <wsdl:input message="tns:TestErrorHttpGetIn" />
      <wsdl:output message="tns:TestErrorHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TestException">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Basic test of an error exception</wsdl:documentation>
      <wsdl:input message="tns:TestExceptionHttpGetIn" />
      <wsdl:output message="tns:TestExceptionHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ContentXMediaHttpPost">
    <wsdl:operation name="GetMediaStore">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Content MediaStore</wsdl:documentation>
      <wsdl:input message="tns:GetMediaStoreHttpPostIn" />
      <wsdl:output message="tns:GetMediaStoreHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ListAll">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">List Content Media</wsdl:documentation>
      <wsdl:input message="tns:ListAllHttpPostIn" />
      <wsdl:output message="tns:ListAllHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="List">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">List Content Media</wsdl:documentation>
      <wsdl:input message="tns:ListHttpPostIn" />
      <wsdl:output message="tns:ListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a Media item</wsdl:documentation>
      <wsdl:input message="tns:GetHttpPostIn" />
      <wsdl:output message="tns:GetHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMedia">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a Media item (raw format)</wsdl:documentation>
      <wsdl:input message="tns:GetMediaHttpPostIn" />
      <wsdl:output message="tns:GetMediaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add a Media item</wsdl:documentation>
      <wsdl:input message="tns:AddHttpPostIn" />
      <wsdl:output message="tns:AddHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Edit a Media item</wsdl:documentation>
      <wsdl:input message="tns:EditHttpPostIn" />
      <wsdl:output message="tns:EditHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="File">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add a File to a Media item</wsdl:documentation>
      <wsdl:input message="tns:FileHttpPostIn" />
      <wsdl:output message="tns:FileHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="NewFile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add a new Media item File</wsdl:documentation>
      <wsdl:input message="tns:NewFileHttpPostIn" />
      <wsdl:output message="tns:NewFileHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete a Media item</wsdl:documentation>
      <wsdl:input message="tns:DeleteHttpPostIn" />
      <wsdl:output message="tns:DeleteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Basic test of the web service</wsdl:documentation>
      <wsdl:input message="tns:TestHttpPostIn" />
      <wsdl:output message="tns:TestHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TestName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Tests the web service by returning the Result name</wsdl:documentation>
      <wsdl:input message="tns:TestNameHttpPostIn" />
      <wsdl:output message="tns:TestNameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TestCustom">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Tests the custom result formatting</wsdl:documentation>
      <wsdl:input message="tns:TestCustomHttpPostIn" />
      <wsdl:output message="tns:TestCustomHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TestError">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Basic test of an error condition</wsdl:documentation>
      <wsdl:input message="tns:TestErrorHttpPostIn" />
      <wsdl:output message="tns:TestErrorHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TestException">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Basic test of an error exception</wsdl:documentation>
      <wsdl:input message="tns:TestExceptionHttpPostIn" />
      <wsdl:output message="tns:TestExceptionHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ContentXMediaSoap" type="tns:ContentXMediaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMediaStore">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/GetMediaStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAll">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/ListAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="List">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/List" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMedia">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/GetMedia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/Edit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="File">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/File" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewFile">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/NewFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestName">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/TestName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestCustom">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/TestCustom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestError">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/TestError" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestException">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/TestException" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ContentXMediaSoap12" type="tns:ContentXMediaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMediaStore">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/GetMediaStore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAll">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/ListAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="List">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/List" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/Get" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMedia">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/GetMedia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/Edit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="File">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/File" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewFile">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/NewFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestName">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/TestName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestCustom">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/TestCustom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestError">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/TestError" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestException">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/DisplayX/TestException" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ContentXMediaHttpGet" type="tns:ContentXMediaHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetMediaStore">
      <http:operation location="/GetMediaStore" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAll">
      <http:operation location="/ListAll" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="List">
      <http:operation location="/List" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <http:operation location="/Get" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMedia">
      <http:operation location="/GetMedia" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <http:operation location="/Add" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <http:operation location="/Edit" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="File">
      <http:operation location="/File" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewFile">
      <http:operation location="/NewFile" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <http:operation location="/Delete" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <http:operation location="/Test" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestName">
      <http:operation location="/TestName" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestCustom">
      <http:operation location="/TestCustom" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestError">
      <http:operation location="/TestError" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestException">
      <http:operation location="/TestException" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ContentXMediaHttpPost" type="tns:ContentXMediaHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetMediaStore">
      <http:operation location="/GetMediaStore" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAll">
      <http:operation location="/ListAll" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="List">
      <http:operation location="/List" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <http:operation location="/Get" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMedia">
      <http:operation location="/GetMedia" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <http:operation location="/Add" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <http:operation location="/Edit" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="File">
      <http:operation location="/File" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewFile">
      <http:operation location="/NewFile" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <http:operation location="/Delete" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <http:operation location="/Test" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestName">
      <http:operation location="/TestName" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestCustom">
      <http:operation location="/TestCustom" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestError">
      <http:operation location="/TestError" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestException">
      <http:operation location="/TestException" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContentXMedia">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">ContentXMedia Web Service</wsdl:documentation>
    <wsdl:port name="ContentXMediaSoap" binding="tns:ContentXMediaSoap">
      <soap:address location="http://www.ididthatad.com/ContentXMedia.asmx" />
    </wsdl:port>
    <wsdl:port name="ContentXMediaSoap12" binding="tns:ContentXMediaSoap12">
      <soap12:address location="http://www.ididthatad.com/ContentXMedia.asmx" />
    </wsdl:port>
    <wsdl:port name="ContentXMediaHttpGet" binding="tns:ContentXMediaHttpGet">
      <http:address location="http://www.ididthatad.com/ContentXMedia.asmx" />
    </wsdl:port>
    <wsdl:port name="ContentXMediaHttpPost" binding="tns:ContentXMediaHttpPost">
      <http:address location="http://www.ididthatad.com/ContentXMedia.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>