CmsX/Web References/PassportWS/Passport.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.clickclickBOOM.com/MachinaX/PassportX" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.clickclickBOOM.com/MachinaX/PassportX" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">PassportX Authentication Web Service</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.clickclickBOOM.com/MachinaX/PassportX">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Expire" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginCase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Expire" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginCaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginCaseResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Remember" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateUserResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Remember" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateTokenResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Validate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Surname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EMail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TelNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CellNo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CheckCell" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddUserResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Test">
        <s:complexType />
      </s:element>
      <s:element name="TestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="LoginCaseSoapIn">
    <wsdl:part name="parameters" element="tns:LoginCase" />
  </wsdl:message>
  <wsdl:message name="LoginCaseSoapOut">
    <wsdl:part name="parameters" element="tns:LoginCaseResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateUserSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateUser" />
  </wsdl:message>
  <wsdl:message name="ValidateUserSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateUserResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateTokenSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateToken" />
  </wsdl:message>
  <wsdl:message name="ValidateTokenSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateTokenResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateSoapIn">
    <wsdl:part name="parameters" element="tns:Validate" />
  </wsdl:message>
  <wsdl:message name="ValidateSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="GetUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="AddUserSoapIn">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="AddUserSoapOut">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="TestSoapIn">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="TestSoapOut">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="Expire" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="LoginCaseHttpGetIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="Expire" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginCaseHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="ValidateUserHttpGetIn">
    <wsdl:part name="Token" type="s:string" />
    <wsdl:part name="Remember" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateUserHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="ValidateTokenHttpGetIn">
    <wsdl:part name="Token" type="s:string" />
    <wsdl:part name="Remember" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateTokenHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="ValidateHttpGetIn">
    <wsdl:part name="Token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetUserHttpGetIn">
    <wsdl:part name="UserID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="AddUserHttpGetIn">
    <wsdl:part name="Username" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="FirstName" type="s:string" />
    <wsdl:part name="Surname" type="s:string" />
    <wsdl:part name="EMail" type="s:string" />
    <wsdl:part name="TelNo" type="s:string" />
    <wsdl:part name="CellNo" type="s:string" />
    <wsdl:part name="CheckCell" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddUserHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="TestHttpGetIn" />
  <wsdl:message name="TestHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="LoginHttpPostIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="Expire" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="LoginCaseHttpPostIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="Expire" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginCaseHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="ValidateUserHttpPostIn">
    <wsdl:part name="Token" type="s:string" />
    <wsdl:part name="Remember" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateUserHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="ValidateTokenHttpPostIn">
    <wsdl:part name="Token" type="s:string" />
    <wsdl:part name="Remember" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateTokenHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="ValidateHttpPostIn">
    <wsdl:part name="Token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetUserHttpPostIn">
    <wsdl:part name="UserID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="AddUserHttpPostIn">
    <wsdl:part name="Username" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="FirstName" type="s:string" />
    <wsdl:part name="Surname" type="s:string" />
    <wsdl:part name="EMail" type="s:string" />
    <wsdl:part name="TelNo" type="s:string" />
    <wsdl:part name="CellNo" type="s:string" />
    <wsdl:part name="CheckCell" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddUserHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="TestHttpPostIn" />
  <wsdl:message name="TestHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:portType name="PassportX_x0020_Passport_x0020_ServicesSoap">
    <wsdl:operation name="Login">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authenticates a user via login (password case INsensitive)</wsdl:documentation>
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginCase">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authenticates a user via login (password case sensitive)</wsdl:documentation>
      <wsdl:input message="tns:LoginCaseSoapIn" />
      <wsdl:output message="tns:LoginCaseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates the token and returns the user information</wsdl:documentation>
      <wsdl:input message="tns:ValidateUserSoapIn" />
      <wsdl:output message="tns:ValidateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateToken">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates the token and returns ok/notok status only</wsdl:documentation>
      <wsdl:input message="tns:ValidateTokenSoapIn" />
      <wsdl:output message="tns:ValidateTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">DEPRECATED: Validates the token and returns ok/notok status only </wsdl:documentation>
      <wsdl:input message="tns:ValidateSoapIn" />
      <wsdl:output message="tns:ValidateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the user information for a given user ID</wsdl:documentation>
      <wsdl:input message="tns:GetUserSoapIn" />
      <wsdl:output message="tns:GetUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Adds a user to LoeriesPassport</wsdl:documentation>
      <wsdl:input message="tns:AddUserSoapIn" />
      <wsdl:output message="tns:AddUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Basic test of the web service</wsdl:documentation>
      <wsdl:input message="tns:TestSoapIn" />
      <wsdl:output message="tns:TestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PassportX_x0020_Passport_x0020_ServicesHttpGet">
    <wsdl:operation name="Login">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authenticates a user via login (password case INsensitive)</wsdl:documentation>
      <wsdl:input message="tns:LoginHttpGetIn" />
      <wsdl:output message="tns:LoginHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginCase">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authenticates a user via login (password case sensitive)</wsdl:documentation>
      <wsdl:input message="tns:LoginCaseHttpGetIn" />
      <wsdl:output message="tns:LoginCaseHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates the token and returns the user information</wsdl:documentation>
      <wsdl:input message="tns:ValidateUserHttpGetIn" />
      <wsdl:output message="tns:ValidateUserHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateToken">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates the token and returns ok/notok status only</wsdl:documentation>
      <wsdl:input message="tns:ValidateTokenHttpGetIn" />
      <wsdl:output message="tns:ValidateTokenHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">DEPRECATED: Validates the token and returns ok/notok status only </wsdl:documentation>
      <wsdl:input message="tns:ValidateHttpGetIn" />
      <wsdl:output message="tns:ValidateHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the user information for a given user ID</wsdl:documentation>
      <wsdl:input message="tns:GetUserHttpGetIn" />
      <wsdl:output message="tns:GetUserHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Adds a user to LoeriesPassport</wsdl:documentation>
      <wsdl:input message="tns:AddUserHttpGetIn" />
      <wsdl:output message="tns:AddUserHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Basic test of the web service</wsdl:documentation>
      <wsdl:input message="tns:TestHttpGetIn" />
      <wsdl:output message="tns:TestHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PassportX_x0020_Passport_x0020_ServicesHttpPost">
    <wsdl:operation name="Login">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authenticates a user via login (password case INsensitive)</wsdl:documentation>
      <wsdl:input message="tns:LoginHttpPostIn" />
      <wsdl:output message="tns:LoginHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginCase">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authenticates a user via login (password case sensitive)</wsdl:documentation>
      <wsdl:input message="tns:LoginCaseHttpPostIn" />
      <wsdl:output message="tns:LoginCaseHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates the token and returns the user information</wsdl:documentation>
      <wsdl:input message="tns:ValidateUserHttpPostIn" />
      <wsdl:output message="tns:ValidateUserHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateToken">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates the token and returns ok/notok status only</wsdl:documentation>
      <wsdl:input message="tns:ValidateTokenHttpPostIn" />
      <wsdl:output message="tns:ValidateTokenHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">DEPRECATED: Validates the token and returns ok/notok status only </wsdl:documentation>
      <wsdl:input message="tns:ValidateHttpPostIn" />
      <wsdl:output message="tns:ValidateHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the user information for a given user ID</wsdl:documentation>
      <wsdl:input message="tns:GetUserHttpPostIn" />
      <wsdl:output message="tns:GetUserHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Adds a user to LoeriesPassport</wsdl:documentation>
      <wsdl:input message="tns:AddUserHttpPostIn" />
      <wsdl:output message="tns:AddUserHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Basic test of the web service</wsdl:documentation>
      <wsdl:input message="tns:TestHttpPostIn" />
      <wsdl:output message="tns:TestHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PassportX_x0020_Passport_x0020_ServicesSoap" type="tns:PassportX_x0020_Passport_x0020_ServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/PassportX/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginCase">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/PassportX/LoginCase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/PassportX/ValidateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateToken">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/PassportX/ValidateToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/PassportX/Validate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/PassportX/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/PassportX/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://www.clickclickBOOM.com/MachinaX/PassportX/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PassportX_x0020_Passport_x0020_ServicesSoap12" type="tns:PassportX_x0020_Passport_x0020_ServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/PassportX/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginCase">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/PassportX/LoginCase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/PassportX/ValidateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateToken">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/PassportX/ValidateToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/PassportX/Validate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/PassportX/GetUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/PassportX/AddUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://www.clickclickBOOM.com/MachinaX/PassportX/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PassportX_x0020_Passport_x0020_ServicesHttpGet" type="tns:PassportX_x0020_Passport_x0020_ServicesHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginCase">
      <http:operation location="/LoginCase" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <http:operation location="/ValidateUser" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateToken">
      <http:operation location="/ValidateToken" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <http:operation location="/Validate" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <http:operation location="/GetUser" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <http:operation location="/AddUser" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <http:operation location="/Test" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PassportX_x0020_Passport_x0020_ServicesHttpPost" type="tns:PassportX_x0020_Passport_x0020_ServicesHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginCase">
      <http:operation location="/LoginCase" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <http:operation location="/ValidateUser" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateToken">
      <http:operation location="/ValidateToken" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <http:operation location="/Validate" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <http:operation location="/GetUser" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <http:operation location="/AddUser" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <http:operation location="/Test" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PassportX_x0020_Passport_x0020_Services">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">PassportX Authentication Web Service</wsdl:documentation>
    <wsdl:port name="PassportX_x0020_Passport_x0020_ServicesSoap" binding="tns:PassportX_x0020_Passport_x0020_ServicesSoap">
      <soap:address location="http://service.tabula.com/Passport.Passport.asmx" />
    </wsdl:port>
    <wsdl:port name="PassportX_x0020_Passport_x0020_ServicesSoap12" binding="tns:PassportX_x0020_Passport_x0020_ServicesSoap12">
      <soap12:address location="http://service.tabula.com/Passport.Passport.asmx" />
    </wsdl:port>
    <wsdl:port name="PassportX_x0020_Passport_x0020_ServicesHttpGet" binding="tns:PassportX_x0020_Passport_x0020_ServicesHttpGet">
      <http:address location="http://service.tabula.com/Passport.Passport.asmx" />
    </wsdl:port>
    <wsdl:port name="PassportX_x0020_Passport_x0020_ServicesHttpPost" binding="tns:PassportX_x0020_Passport_x0020_ServicesHttpPost">
      <http:address location="http://service.tabula.com/Passport.Passport.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>